@font-face {
    font-family: "Antonio-Bold";
    src: url("../../static/Antonio-Bold.ttf");
    /* url('Antonio-Bold.eot'); IE */
}

@font-face {
    font-family: "Antonio-Regular";
    src: url("../../static/Antonio-Regular.ttf");
    /* url('Antonio-Bold.eot'); IE */
}

html {
    background-color: #000;
    color: white;
    font-family: "Antonio-Bold", sans-serif;
    text-align: center;
}

.landing {
    height: 100vh;
    margin: 0;
}

.name {
    margin: auto;
    text-align: center;
    padding-top: 30vh;
    margin-bottom: 10px;
    letter-spacing: 20px;
    font-size: 40px;
    color: #E0E262;
}

@media (min-height: 600px) {
    .name {
        padding-top: 15vh;
    }
}

.name h1 {
    margin-bottom: 0;
}

.tagline {
    font-family: "Antonio-Regular", sans-serif;
    font-weight: lighter;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}

.view_my_work_btn {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: "Antonio-Bold", sans-serif;
    letter-spacing: 7px;
    font-size: 25px;
    border: 1px solid #E0E262;
    transition: 0.3s ease;
}

.view_my_work_btn:hover {
    background-color: white;
    color: black;
    border: 1px solid #fff;
    cursor: pointer;
}

.view_my_work_btn:focus {
    outline: none;
    border: 1px solid #fff;
}