.skills {
  height: 100vh;
  margin: 0;
}

h1 {
  margin: auto;
  text-align: center;
  padding-top: 10vh;
  margin-bottom: 10px;
  letter-spacing: 25px;
  font-size: 50px;
  color: #e0e262;
}

.logo {
  height: auto;
  filter: brightness(0) invert(1);
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s ease;
}
@media (min-height: 700px) {
  .logo {
    width: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.logo:hover {
  cursor: pointer;
  filter: none;
}
