.row {
  margin-top: 20vh;
}

.logo {
  width: 100px;
  height: auto;
  filter: brightness(0) invert(1);
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.3s ease;
}

@media (min-height: 600px) {
  .logo {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


.logo:hover {
  cursor: pointer;
  filter: none;
}